
 
    <div id="error_explanation">
      <h2><%= pluralize(schooldetail.errors.count, "error") %> prohibited this schooldetail from being saved:</h2>

      <ul>
      <% schooldetail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
 
  
